/* Navbar Styles */
/* Navbar.css */

.navbar {
  background-color: rgba(24, 24, 24, 0.9);
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  position: fixed; /* Keep navbar fixed at top */
  width: 100%;
  z-index: 10;
}

.navbar.scrolled {
  background-color: rgba(24, 24, 24, 1);
}

.logo img {
  height: 100px;
}

.menu-icon {
  display: none; /* Hidden by default */
  flex-direction: column;
  cursor: pointer;
}

.menu-icon__line {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 4px;
  transition: all 0.3s ease;
}

/* Transform the menu icon into an "X" when open */
.menu-icon__line.open:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.menu-icon__line.open:nth-child(2) {
  opacity: 0;
}

.menu-icon__line.open:nth-child(3) {
  transform: rotate(-45deg) translate(11px, -11px);
}

/* Nav links */
.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  font-size: 18px;
  margin-left: 50px;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
  .menu-icon {
    display: flex;
  }

  .nav-links {
    position: absolute;
    top: 70px; /* Adjust based on your navbar height */
    right: 0;
    background-color: rgba(24, 24, 24, 0.9);
    flex-direction: column;
    width: 100%;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
  }

  .nav-links.open {
    max-height: 300px; /* Adjust as needed */
  }

  .nav-links li {
    margin: 20px 0;
    text-align: center;
  }

  .nav-links li a {
    display: block;
    padding: 10px 0;
  }
}
